{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/stylesheet.css')  }}" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

{% endblock %}

{% block body %}
    <img id="caro_image" src="{{ asset('assets/images/caro.png') }}" alt="caro" />
    <div class="header_menu">
        <img id="iconetoque" src="{{ asset('assets/images/iconetoque.png') }}" alt="iconetoque" />
        <h1>Mes Repas</h1>
    </div>

    <table>
        <thead>
            <tr>
                <th class="colonne_nom">Thème du repas</th>
                <th class="colonne_nom">Date prévue</th>
                <th class="colonne_nom">Description</th>
                <th class="colonne_nom">Mes invités</th>
                <th class="colonne_nom">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for liste in listes %}
            <tr>
                <td>{{ liste.nomRepas }}</td>
                <td>{% if liste.dateRepas %}{{ liste.dateRepas|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ liste.descriptionRepas }}</td>
                <td>{{ liste.inviteRepas }}</td>
                <td>
                    <ul>
                        <li>

                            <button type="button" class="btn btn-info glyphicon glyphicon-search"><a href="{{ path('liste_show', { 'id': liste.id }) }}">&nbsp;Afficher</a></button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-info glyphicon glyphicon-pencil"><a href="{{ path('liste_edit', { 'id': liste.id }) }}">&nbsp;Editer</a></button>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li id="creer_repas">
            <button type="button" class="btn btn-success"><a href="{{ path('liste_new') }}">Créer un nouveau repas</a></button>
        </li>
    </ul>
{% endblock %}
